<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Ecommerce Automation" verbose="1">
    <test name="End To End Tests">
        <parameter name="browser" value="chrome"></parameter>
        <packages>
            <package name="org.selenium.pom.tests"/>
        </packages>
    </test>
</suite>
